.ml-6{
 margin-left: 7rem;
}
 .nav-ml{
  margin-left: 40%;
 }
@media screen and (max-width:1025px) {
 .nav-ml{
  margin-left: 30%;
 }
}



.brand-color{
 background: #FF4C00;

}

.mr-1{
 margin-right: 0.5rem;
}
.nav-link{
 color: #222222 !important;
}
.nav-link:hover{
 color: #FF8A00 !important;
}
.btn-brand{
background: #FF8A00;

display: flex;
align-items: center;
justify-content: center;
color: white;
}
       .actively{
        color: #FF8A00 !important;
       }
       .text-whiteness{
        color: white !important;
       }
       .text-whiteness:hover{
        color: white !important;
       }

 .grey-bg{
  background: #F1F1F1;

 }
 .text-brand{
  color: #FF4D00;
 }
 .story-img-container{
  background-image: url('./images/video-preview@2x\ 1.png');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  display: grid;
  place-items: center;
  width: 100%;
  height: 291px;
 }
 .navbar-toggler{
  background-color: white !important;
 }
 .w-70{
  width: 70% !important;
 }
 .text-brand{
  text-decoration: none;
  color: #FF4D00;
  font-weight: 500;
  margin: 0;
  padding: 0;
 }
 .navbar-toggler-icon{
  color: #222222 !important;
  outline: none !important;
  border: none !important;
 }
 .text-dark-sub{
  padding: 0;
  margin: 0;
 }
 .started{
  color: white;
  text-decoration: none;
  width: 10rem;

 }
 .video-sub{
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0.5rem 0;
  
 }
 .special-padding{
  padding-top: 6rem;
  padding-bottom: 6rem;
 }
 .sub-2-parker{
  height: 80%;
  width: 100%;
 }
 .working-container{
  width: 100%;
  height: 500px;
  display: grid;
  place-items: center;
 }
 .working-sub{
  width: 90%;
  height: auto;
 }
 .img-resp{
  width: 100%;
  height: inherit;
 }
 .crypto{
  width: 80%;
  float: right;
 }
 .w-50{
  width: 35% !important;
  text-align: center;
  margin: 1rem auto;
 }
.plans{
 width: 10rem;
 color: #222222;
 text-decoration: none;
 border: 2px solid #FF4C00;
 float: right;
}
.working-side{
 display: grid;
 width: 100%;
 height: auto;
 place-items: center;
 
}
.place-center{
 display:grid;
 place-items: center;

 
}
.place-centery{
 display: grid;
 place-items: center;
 width: 100%;
 height: inherit;
}
.column-way{
 display: flex;
 flex-direction: column;
}
.heading-1{
 font-size: 72px;
 font-weight: 700;
 padding: 0;
 margin: 0;
}
.width-85{
 width: 80%;
 margin: 0.5rem auto;

}
.width-question{
 width: 70%;

}
.more-btn{
 background-color: transparent;
 color: white;
 text-decoration: none;
 border: 3px solid white;
 display: grid;
 place-items: center;
 font-size: 20px;
 border-radius: 10px;
 width: 16rem;
 height: 4rem;
 margin: 0.5rem auto;
}
.cardy{
 width: 20rem;
 height: 30rem;
 box-shadow: 0px 4px 14px 0px #C4C4C4;

 background-color: white;
 border-radius: 30px;
 padding: 1rem;
}
.standard{
 border: 5px solid #FF4C00;
}
.bold{
 font-weight: 700;
}
.width-80{
 width: 100%;
}
.text-start{
 text-align: left;
}
.mr-2{
 margin-right: 1.5rem;
}
.plans-item{
 list-style: none;
 padding: 0;
}
.plan-contain{
 padding-left: 0 !important;
}

.main-container{
 width: 100%;
 height: 80vh;
 background: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, .5)), url('./images/older-couple-6299326_1920\ 1.png');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 overflow-x: hidden;
}

.choose-container{
 padding: 2rem 4rem;

}
.choose-img{
 width: 64px;
 height: 64px;
 margin: auto;
 
}

.bg-know{
 background: #EFEFEF;

}

.where-container{
 padding: 0.5rem 0.5rem;

}
.heading-3{
 font-size: 56px;
 font-weight: 600;
 color: #FF4D00;
}

.flag{
 width: 30px;
 height: 20px;
 margin-left: 1rem;
 display: block;
}
.text-s-dark{
 color: #555;
}
.location-site{
 text-decoration: none;
 font-size: 1.5rem;
 font-weight: 600;
 display: block;
}
.choosed{
 padding-left: 5rem;
}
.customer-card{
 padding: 2.5rem;
 border-radius: 25px;
 box-shadow: 0px 4px 14px 0px #C4C4C4;


}
.text-customer{
 color: #4F5D73;

}
.customer-container{
 width: 80%;

}
.star{
 color: #FF8A00;
}
.full-width{
 width: 100%;
 overflow-x: hidden;
 padding: 1rem;
}

.bg-black{
 background-color: black;
}
footer-padding{
 padding: 2.5rem !important; 
}
.footer-padded{
 padding: 2rem 3rem;
}

.text-gold{
 color: gold;
}

.input-container{
 border: 1px solid #FF8A00;
 width: 100%;
 padding: 1rem;

}
.input{
 border: none !important;
 outline-style: none !important;
 outline: none !important;
 width: 100%;

}
.input::-moz-focus-outer{
outline: none;
border: none;
}
.btn-message{
 background-color: #FF4C00;
 color: white;
 padding: 0.5rem 1rem;
}
.cardy-b{
 height: 130px;
width: 288px;
margin: 0 auto;

border-radius: 30px;
box-shadow: 7px 0px 19px 0px #00000040;
display: grid;
place-items: center;

}

.about-width{
 width: 50%;
 margin: 0 auto;
}











 @media screen and (max-width:769px) {
  .special-padding{
     padding-top: 2rem;
  padding-bottom: 2rem;
  }
  .width-question{
 width: 95%;
 
}
  .footer-padded{
 padding: 1rem 1rem;
}
  footer-padding{
 padding: 1rem; 
}
  .customer-container{
 width: 100%;
 padding: 1rem;
 

}
   .nav-ml{
  margin-left: 1%;
 }
  .heading-1{
   font-size: 40px;
   text-align: center;
  }
  .heading-3{
 font-size: 40px;
 font-weight: 600;
 color: #FF4D00;
}
 
  .main-container{
   padding: 1rem;
   overflow-x: hidden;
  }
  .cardy{
 width: 20rem;
 height: 30rem;
 box-shadow: 0px -5px 15px #8b8989;
 background-color: white;
 border-radius: 30px;
 padding: 1rem;
}
  .vary-display{
   display: none;
  }
  .text-end{
   text-align: start !important;
  }
  .plans{
   float:  left !important;
  }
   .w-50{
  width: 90% !important;
  text-align: center;
  margin: 1rem auto;
 }
 .customer-card{
  padding: 1rem;
 }
 }
 @media screen and (max-width:600px) {
  .special-padding{
     padding-top: 1rem;
  padding-bottom: 1rem;
  }
  .choose-container{
 padding: 2rem 1rem;

}
.sub-parker{
 padding: 1rem !important;
}
.sub-parker-1{
 padding: 1rem !important;
}
 }
 @media screen and (max-width:769px) {
  .special-padding{
     padding-top: 2rem;
  padding-bottom: 2rem;
  }
  .about-width{
 width: 100%;
 margin: 0 auto;
}
 }
 .text-branded{
  color: #FF4D00;
  font-weight: 600;
 }
 .text-end{
  text-align: right;
 }
